# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
venv/
**/venv/
.env
**/*.log

# Project Files
**/data/*.db
**/data/*.db-journal

# Node / React
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
.eslintcache

# IDEs
.vscode/
.idea/
.DS_Store

# Pencil / Design files
*.pen
